#barra_superior{
  background-color: #63A3FA;
    text-align: center;
    padding: 10px;
}
#h2_color{
  color: #004c00;
}



@media only screen and (max-height: 720px) {
    img {
      height: 100%;
    }
  }

  @media only screen and (max-width: 720px) {
    img {
      width: 100%;
    }
  }

  .menu {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
  }

  .menu a {
    padding: 10px;
    color: #000;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    text-align: center;
    transition: 0.2s ease all;
    font-size: 16px;
  }

  .carousel {
    position: relative;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}
.bg-border-blueCompany {
    background-color: rgba(41, 50, 123, 0.9);
}

.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}
.carousel-control-prev {
    left: 0;
}
.carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}
.carousel-control-next {
    right: 0;
}

.carousel-control-next {
    right: 0;
}
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.h2carousel{
    color: #ffffff;
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}
  #imagen_contactanos{
    background-image: url("../images/contactoimg.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  #imagen_mapa{
    background-image: url("../images/mapa.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  #imagen_mision{
    background-image: url("../images/misionconsultoria.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  #imagen_vision{
    background-image: url("../images/vision.webp");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  #imagen_valores{
    background-image: url("../images/valores.png");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .new_link{
    align-items: center;
    justify-content: space-between;
    letter-spacing: 6px; /* para separar entre letras */
   /* word-spacing: 90px;   /* separacion entre palabras */ 
    line-height: 22px;   /* separacion entre lineas */ 
    /*text-indent: 28px;   /* para sangrias */ 
  }
  
  .menu a:hover  {
    background: #000;
    color: #fff;
  }

  .navbar_color{
    background-color: #63A3FA!important;
  }

#imagen_banner{
    background-image: url("../images/background_img2.jpg"); /* The image used */
    opacity: 80%;
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}



#txt_banner{
  font-weight: bold;
  color: #004c00;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  transition: 0.2s ease all;
  font-size: 20px;
  
}
#txt_banner_contacto{
  font-weight: bold;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  transition: 0.2s ease all;
  font-size: 20px;
}
#txt_banner_mision{
  font-weight: bold;
  color: #000;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  transition: 0.2s ease all;
  font-size: 20px;
}
.contenedor_banner{
  padding-top: 14%;
  padding-right: 3%;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #63A3FA;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #000;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #004c00;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

.cuerpo{
width: 100%;
}

.cuerpo .grupo-1{
  border-top: 4px solid #3760AB;
  border-bottom: 4px solid #3760AB;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}

@media screen and (max-width:800px){
  .cuerpo .grupo-1{
    border-top: 4px solid #3760AB;
    border-bottom: 4px solid #3760AB;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:30px;
    padding: 35px 0px;
  }
}

.cuerpo .grupo-2{
  border-bottom: 4px solid #3760AB;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}

.cuerpo h2{
  color: #004c00;
  text-align: justify;
}

.cuerpo h3{
  color: #004c00;
  text-align: center;
}

@media screen and (max-width:800px){
  .cuerpo .grupo-2{
    border-bottom: 4px solid #3760AB;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:30px;
    padding: 35px 0px;
  }
}

.cuerpo .grupo-3{
  border-bottom: 4px solid #3760AB;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
  align-items: center;
  
}


.cuerpo .grupo-3 .btn-contacto{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  text-align: left;
  transition: all 300ms ease;
  align-items: center;
  padding-left: 230px;
}

.cuerpo .grupo-3 .btn-contacto a:hover{
  color: #fff;
  background-color: #0069d9;
}

@media screen and (max-width:800px){
  .cuerpo .grupo-3{
    border-bottom: 4px solid #3760AB;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:30px;
    padding: 35px 0px;
  }
}